<!--
 * @Author: 41
 * @Date: 2022-02-17 17:52:13
 * @LastEditors: 41
 * @LastEditTime: 2022-02-17 18:56:45
 * @Description: 
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>校园社区API</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <h1>校园社区 API</h1>
  当你看到这个页面时,这个服务已经成功跑起来了~
  <a href="https://gitee.com/KamenRider41/campus-community-backend/blob/master/readme.md">Readme!!!</a>
  <h2>文档如下:</h2>
  <ul>
    <li>1. <a
        href="https://gitee.com/KamenRider41/campus-community-backend/blob/master/%E6%8E%A5%E5%8F%A3%E6%96%87%E6%A1%A3.md">接口文档</a>
    </li>
    <li>2. <a
        href="https://gitee.com/KamenRider41/campus-community-backend/blob/master/%E5%BC%80%E5%8F%91%E6%96%87%E6%A1%A3.md">开发文档</a>
    </li>
    <li>3. <a
        href="https://gitee.com/KamenRider41/campus-community-backend/blob/master/bug%E5%9B%9E%E5%BF%86%E5%BD%95.md">bug回忆录</a>
    </li>
    <li>4. <a
        href="https://gitee.com/KamenRider41/campus-community-backend/blob/master/%E5%BC%80%E5%8F%91%E8%AE%B0%E5%BD%95%E6%96%87%E6%A1%A3.md">开发记录文档</a>
    </li>
  </ul>
  <div class="pic">
    <img src="/assets/logo.png" alt="">
  </div>

</body>


</html>